

<section class="section-padding wow fadeInUp delay-05s container-fluid" id="contact">
        <div class="container1">
          <div class="row1 white">
            <div class="col-md-8 col-sm-12">
              <div class="section-title">
                <h2 class="head-title black">Contact Us</h2>
                <hr class="botm-line">
                <p class="sec-para black">Feel free to contact us if you have any new green business ideas and feel the need for collaboration.</p>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="col-md-4 col-sm-6">
                <h3 class="cont-title">Email Us Coming Soon!!!</h3>
                <h1>Contact Us</h1>
               
                <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-actions">
                          <button type="submit">Send</button>
                        </div>
                    </form>  
              </div>
              <div class="col-md-6 col-sm-12">
                <h3 class="cont-title">Visit Us</h3>
                <div class="location-info">
                  <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>Shankhamul, Patan</p>
                  <p class="white"><span aria-hidden="true" class="fa fa-phone"></span>Phone: 9856067328, 9860895017</p>
                  <p class="white"><span aria-hidden="true" class="fa fa-envelope"></span>Email: <a href="" class="link-dec">greesdecisions16@gmail.com</a></p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>


    
    
             
                
            