<section id="feature" class="section-padding container-fluid">
        <div class="container1">
          <div class="row">
            <div class="col-md-3 wow fadeInLeft delay-05s">
              <div class="section-title">
                <h2 class="head-title">Services</h2>
                <hr class="botm-line">
                <!-- <p class="sec-para">We always provise more and better service than is expected of you, no matter what your task may be. </p> -->
                <br>
              </div>
            </div>
            <div class="col-md-9">
              <div class="col-md-6 wow fadeInRight delay-02s">
                <div class="icon">
                  <i class="glyphicon glyphicon-leaf"></i>
                </div>
                <div class="icon-text">
                  <h4 class="txt-tl">IEE/EIA of Different Development Projects </h4>
                    <li>Road</li>
                    <li>Building</li>
                    <li>Resorts</li>
                    <li>Hospitals</li>
                    <li>HydroPower</li>
                    <li>Industries and others</li>
                </div>
              </div>
              <div class="col-md-6 wow fadeInRight delay-02s">
                <div class="icon">
                  <i class="fa fa-cogs"></i>
                </div>
                <div class="icon-text">
                  <h4 class="txt-tl">Disaster Risk Analysis and Management</h4>
                    <li>Training on Disaster Management </li>
                    <li>Hazard Mapping</li>
                    <li>Vulnerability Analysis</li>
                    <li>Risk Mapping</li>
                    <li>Disaster Risk Reduction Measures</li>
                    <li>Installation of Early Warning Systems</li>
                </div>
              </div>
              <div class="col-md-6 wow fadeInRight delay-04s">
                <div class="icon">
                  <i class="glyphicon glyphicon-trash"></i>
                </div>
                <div class="icon-text">
                  <h4 class="txt-tl">Waste Management</h4>
                  <li>Hospital Waste Management</li>
                  <li style="text-align: left;">Biogas Design and Installation for Hospitals/Schools/Food Industries.</li>
                  <li>Landfill Feasibility and Detailed Design</li>
                  <li>Wastewater Treatment Plant Design and Installation</li>
                </div>
              </div>
              <div class="col-md-6 wow fadeInRight delay-04s">
                <div class="icon">
                  <i class="fa fa-desktop"></i>
                </div>
                <div class="icon-text">
                  <h4 class="txt-tl">Environment Monitoring and Audit of Industries</h4>
                  <li>Noise Monitoring</li>
                  <li>Stack Emission Monitoring</li>
                  <li>Wastewater Analysis</li>
                  <li>Ambient Air Monitoring</li>
                </div>
              </div>
              <div class="col-md-6 wow fadeInRight delay-06s">
                <div class="icon">
                  <i class="fa fa-lightbulb-o"></i>
                </div>
                <div class="icon-text">
                  <h4 class="txt-tl">Geo-Spatial Analysis and GIS Mapping</h4>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>