<footer class="" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 footer-copyright">
            </div>
            <div class="col-sm-5 footer-social">
              <div class="pull-right hidden-xs hidden-sm">
                <a href="https://www.facebook.com/GD2k16/?notif_id=1559124309764060&notif_t=page_fan&ref=notif"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://aboutme.google.com/u/2/?referer=gplus&pageId=none"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
</footer>