<section class="section-padding parallax container-fluid bg-image-2 section wow fadeIn delay-08s" id="cta-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="cta-txt">
            <h3>Subscribe For Updates</h3>
            <!-- <p>Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p> -->
          </div>
        </div>
        <div class="col-md-4 text-center">
          <a href="#" class="btn btn-submit">Subscribe Now</a>
          <h3>Coming Soon!!!</h3>
        </div>
      </div>
    </div>
  </section>