<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GreenDecisions</title>
  {% load static %}
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'blog/style1.css' %}"> -->
        <!-- <link rel="stylesheet" href="{% static 'blog/css/base.css' %}"> -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/animate.css'%}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <header class="main-header" id="header">
        <div class="bg-color"> 
          <!--nav-->
          <nav class="nav navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="197">
            <div class="container-fluid">
              
              <div class="col-md-12">
                <div class="navbar-header">
                   
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                                <span class="fa fa-bars"></span>
                            </button>
                            
                  <a href="#header" class="navbar-brand">Green Decisions</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                  <ul class="nav navbar-nav ml-auto list-group list-group-horizontal-md">
                    <li class="active"><a href="#header">Home</a></li>
                    <li><a href="#cta-1">About Us</a></li>
                    <li><a href="#feature">Services</a></li>
                    <li><a href="{% url 'post_list' %}">Blog</a></li>
                    <li><a href="#portfolio">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {% if request.user.profile.photo %}
                          <img src="{{ request.user.profile.photo.url }}" alt="icon image" class="navbar-img">
                          {% else %}
                          <img src="/media/download.jpeg" alt="" class="navbar-img">
                          {% endif %}
                          <span>Hi {{ request.user|capfirst }}</span>
                        </a>
                        <div class="dropdown-menu transparent nav-link" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'blog:edit_profile' %}">My Profile</a>
                          <a class="dropdown-item" href="{% url 'blog:post_create' %}">Create Post</a>

                          <a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
                          
                        </div>
                      </li>
                      {% else %}
                    <li class="nav-item ">
                      
                      <a href="{% url 'user_login' %}" class="login">Login</a>
                    </li>
                    {% endif %}
                            
                  </ul>
                 
                    
                 </div>
                </div>
              </div>
            </div>
          </nav>
          <!--/ nav-->
          <div class="container text-center">
            <div class="wrapper wow fadeInLeft delay-05s">
                <a class="navbar-logo logog" href="#">
                    <img src="./static/blog/img/logo.png" alt="">
                  </a>
                  <h2 style="color: rgb(3, 124, 50);"><b>Green Decisions, Good Decisions!!!</b></h2>
            </div>        
          </div>
        </div>
       
      </header>
  <section id="cta-1" class="container-fluid">
    <div class="container1">
      <div class="row1">
          <div class="cta-info text-center wrapper wow fadeInLeft delay-05s">
              <h2>About Us</h2>
              <h4>“
                Green Decisions Consulting is an Environmental Engineering Firm. <hr>
                We aspire to build bridges between Environment and Economy by cooperating and collaborating with Local, Provincial, National and International Partners.<hr>
                We believe that in this dawn of 21st century, accepting Greener ways of doing things is much easier with all the technology, expertise and information available within the reach of our fingers. <hr>
                We also believe in advocating on environment conservation and management and constantly maintaining collaboration with different organizations to make the sound of Green be heard.
                ” </h4>
          </div>
      </div>
    </div>
  </section>
  <!---->
  <!---->
  <section id="feature" class="section-padding container-fluid">
    <div class="container1">
      <div class="row">
        <div class="col-md-3 wow fadeInLeft delay-05s">
          <div class="section-title">
            <h2 class="head-title">Services</h2>
            <hr class="botm-line">
            <!-- <p class="sec-para">We always provise more and better service than is expected of you, no matter what your task may be. </p> -->
            <br>
          </div>
        </div>
        <div class="col-md-9">
          <div class="col-md-6 wow fadeInRight delay-02s">
            <div class="icon">
              <i class="glyphicon glyphicon-leaf"></i>
            </div>
            <div class="icon-text">
              <h4 class="txt-tl">IEE/EIA of Different Development Projects </h4>
                <li>Road</li>
                <li>Building</li>
                <li>Resorts</li>
                <li>Hospitals</li>
                <li>HydroPower</li>
                <li>Industries and others</li>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight delay-02s">
            <div class="icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="icon-text">
              <h4 class="txt-tl">Disaster Risk Analysis and Management</h4>
                <li>Training on Disaster Management </li>
                <li>Hazard Mapping</li>
                <li>Vulnerability Analysis</li>
                <li>Risk Mapping</li>
                <li>Disaster Risk Reduction Measures</li>
                <li>Installation of Early Warning Systems</li>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight delay-04s">
            <div class="icon">
              <i class="glyphicon glyphicon-trash"></i>
            </div>
            <div class="icon-text">
              <h4 class="txt-tl">Waste Management</h4>
              <li>Hospital Waste Management</li>
              <li style="text-align: left;">Biogas Design and Installation for Hospitals/Schools/Food Industries.</li>
              <li>Landfill Feasibility and Detailed Design</li>
              <li>Wastewater Treatment Plant Design and Installation</li>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight delay-04s">
            <div class="icon">
              <i class="fa fa-desktop"></i>
            </div>
            <div class="icon-text">
              <h4 class="txt-tl">Environment Monitoring and Audit of Industries</h4>
              <li>Noise Monitoring</li>
              <li>Stack Emission Monitoring</li>
              <li>Wastewater Analysis</li>
              <li>Ambient Air Monitoring</li>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight delay-06s">
            <div class="icon">
              <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="icon-text">
              <h4 class="txt-tl">Geo-Spatial Analysis and GIS Mapping</h4>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!---->
  <section class="section-padding parallax container-fluid bg-image-2 section wow fadeIn delay-08s" id="cta-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="cta-txt">
            <h3>Subscribe For Updates</h3>
            <!-- <p>Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p> -->
          </div>
        </div>
        <div class="col-md-4 text-center">
          <a href="#" class="btn btn-submit">Subscribe Now</a>
          <h3>Coming Soon!!!</h3>
        </div>
      </div>
    </div>
  </section>
  <!---->
  <!---->
  <section class="section-padding wow fadeInUp delay-02s container-fluid" id="portfolio">
    <div class="container2">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="section-title">
            <h2 class="head-title">Gallery</h2>
            <hr class="botm-line">
            <p class="sec-para"></p>
          </div>
        </div>
        <div class="container2">

          <div class="row">
      
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="" data-size="1600x1067">
                  <img alt="picture" src="./static/blog/img/port02.jpg"
                    class="img-fluid" />
                </a>
              </div>
      
      
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="" data-size="1600x1067">
                  <img alt="picture" src="./static/blog/img/port02.jpg"
                    class="img-fluid" />
                </a>
              </div>
      
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="" data-size="1600x1067">
                  <img alt="picture" src="./static/blog/img/port02.jpg"
                    class="img-fluid" />
                </a>
              </div>
  
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="" data-size="1600x1067">
                  <img alt="picture" src="./static/blog/img/port02.jpg"
                    class="img-fluid" />
                </a>
              </div>
      
        
      
      
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="" data-size="1600x1067">
                  <img alt="picture" src="./static/blog/img/port04.jpg"
                    class="img-fluid" />
                </a>
              </div>
      
      
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="" data-size="1600x1067">
                  <img alt="picture" src="./static/blog/img/port04.jpg"
                    class="img-fluid" />
                </a>
              </div>
      
          
      
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="" data-size="1600x1067">
                  <img alt="picture" src="./static/blog/img/port04.jpg"
                    class="img-fluid" />
                </a>
              </div>
      
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="" data-size="1600x1067">
                  <img alt="picture" src="./static/blog/img/port04.jpg"
                    class="img-fluid" />
                </a>
              </div>
          </div>
          <hr>
      </div>
      </div>
      </div>
    </div>
  </section>
  <!---->
  <!---->
  <section class="section-padding wow fadeInUp delay-05s container-fluid" id="contact">
    <div class="container1">
      <div class="row1 white">
        <div class="col-md-8 col-sm-12">
          <div class="section-title">
            <h2 class="head-title black">Contact Us</h2>
            <hr class="botm-line">
            <p class="sec-para black">Feel free to contact us if you have any new green business ideas and feel the need for collaboration.</p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="col-md-4 col-sm-6">
            <h3 class="cont-title">Email Us Coming Soon!!!</h3>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <div class="contact-info">
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>

                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <button type="submit" class="btn btn-send">Send</button>
              </form>
            </div>

          </div>
          <div class="col-md-6 col-sm-12">
            <h3 class="cont-title">Visit Us</h3>
            <div class="location-info">
              <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>Shankhamul, Patan</p>
              <p class="white"><span aria-hidden="true" class="fa fa-phone"></span>Phone: 9856067328, 9860895017</p>
              <p class="white"><span aria-hidden="true" class="fa fa-envelope"></span>Email: <a href="" class="link-dec">greesdecisions16@gmail.com</a></p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <footer class="" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 footer-copyright">
        </div>
        <div class="col-sm-5 footer-social">
          <div class="pull-right hidden-xs hidden-sm">
            <a href="https://www.facebook.com/GD2k16/?notif_id=1559124309764060&notif_t=page_fan&ref=notif"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="https://aboutme.google.com/u/2/?referer=gplus&pageId=none"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!---->
  <!--contact ends-->
  <script src="{% static 'blog/js/jquery.min.js' %}"></script>
  <script src="{% static 'blog/js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/js/wow.js' %}"></script>
  <script src="{% static 'blog/js/custom.js' %}"></script>
 

  
</body>
</html>
